/*COLORES
vison #B3A1A1 // #b3a1a1ab (transparente FOOTER)// 
rosa #FFFFE6  (NO)
blanco #FFFFFF
celeste #E6F5FF // #e6f5ffda (transparente) 
gris #606060 (fuente footer) // #60606025 (transparente)//

FUENTES
'Quicksand', sans-serif; (títulos, mayus. Elementos a destacar)
'Bitter', serif; (párrafos, textos más largos)*/


/* Fuentes tipográficas */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap'); /*Quicksand*/
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap'); /*Bitter*/



/* Restablecer valores por default */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: black;
}


/* GRID - home page */

.grid-container{
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}


/* HEADER */

header{
    border: solid #ffff 1px; /*Lo usé para ver las cajas del header. Cuando lo saco me deja un espacio blanco arriba */
    width: 100%;
    height: 13vh;
    background-color: #ffff;
    position: sticky;
    top: 0;
}

/* Logo link home */

.logo__home{
    position: absolute;
    width: 299px;
    height: 16 px;
    left: 1%;
    margin-top: 1.5vh;
}

/* Menú navegable */ 

ul{
    position: relative;
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 3.25vh;
    right: 1%;    
}

li{
    margin: 8px;
    margin-right: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}


/* MAIN - imagen principal */

.imagenhome{
    object-fit:cover;
    width: 100%;
    height: 75vh;
}


/* FOOTER */

footer{
    width: 100%;
    height: 11vh; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b3a1a1ab;
}

footer div a{
    color: #606060;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;       
}

/* Links contacto izq */ 

.div__izq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

/* Links RR.SS */

.div__redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 8vh;
}

.div__redes__soc{
    width: 20px;
    margin: 0px 8px  
}

.div__redes__soc--fb{
    width: 10px;
}

/* Links der */

.div__der{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
}

.div__der--logo{
    height: 25px;
}

/* Responsive - HEADER Y FOOTER */
@media only screen and (min-width: 400px) and (max-width: 800px) {
    
    footer div a{
        color: #606060;
        font-family: 'Quicksand', sans-serif;
        font-size: 10px;       
    }
    
    /* Links RR.SS */
        
    .div__redes__soc{
        width: 15px;
        margin: 0px 6px  
    }
    
    .div__redes__soc--fb{
        width: 8px;
    }
    
    /* Links der */
    
    .div__der--logo{
        height: 20px;
    }
    
}


/*FOTOGRAFÍAS*/

/* Header */
.fotografias{
    text-decoration-line: overline;
}

/* Sección N° 1 provisoria - la idea es que esta sección se vea como un collage de fotos */

.collage{
    background-color: #e6f5ffda;
    /* width: 100vw;
    height: 85vh; */
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section div img{
    height: 281px;
}

/* Sección N° 2 y 3 - carrusel paisajes y retratos */

.carrusel-1, .carrusel-2{
    margin: 5% 0% 5% 0%;
    display: flex;
}

.paisajes img, .retratos img{
    height: 40vh;
    justify-content: flex-start;
    align-items: center;
    
}

.paisajes__tit, .retratos__tit{
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    margin-left: 3vw;
    margin-bottom: 5px;
}

/* Responsive - fotografías */
@media only screen and (min-width: 400px) and (max-width: 800px) {
    .fotografias-responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* RELATOS */

/* Header */
.relatos{
    text-decoration-line: overline;
}

/* Sección N° 1 */

.grid-container-relatos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 48vh 30vh 20vh 10vh;
    gap: 8px;
    grid-template-areas:
    'texto imagen imagen'
    'img2 img3 img4'
    'parrafo2 parrafo3 parrafo4'
    'boton2 boton3 boton4';
}

/* Primera fila */

.grid-item-p{
    grid-area: texto;
    margin: 5%;
    margin-top: 0%;
}

.grid-item-img{
    grid-area: imagen;
}

.grid-item-img img{
    height: 300px; 
    width: 100%;
    object-fit: cover; 
}

.grid-item-p p{
    font-size: 16px;
    font-family: 'Bitter', serif;
    text-align: left;
}

.grid-item-p h1{
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
}

.grid-item-p a{
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #B3A1A1;
    margin: 90px 15px 10px 300px;
    padding: 3px;
}

/* Fin primera fila */


/* Sección N° 2 */

/* Segunda fila */

.grid-item-foto2{
    grid-area: img2;
}

.grid-item-foto3{
    grid-area: img3;
}

.grid-item-foto4{
    grid-area: img4;
}

.grid-item-foto2 img, .grid-item-foto3 img, .grid-item-foto4 img{
    width: 50%;
    height: 80%;
    margin-left: 25%;
}

/* Fin segunda fila */


/* Tercera fila */

.grid-item-tex2{
    grid-area: parrafo2;
}
.grid-item-tex3{
    grid-area: parrafo3;
}
.grid-item-tex4{
    grid-area: parrafo4;
}

.grid-item-tex2, .grid-item-tex3, .grid-item-tex4{
    margin: 0% 10%;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.grid-item-tex2 p, .grid-item-tex3 p, .grid-item-tex4 p{
    font-family: 'Bitter', serif;
    font-size: 14px;
    text-align: center;
}

/* Fin tercera fila */


/* Cuarta fila */
.grid-item-boton2{
    grid-area: boton2;
}
.grid-item-boton3{
    grid-area: boton3;
}
.grid-item-boton4{
    grid-area: boton4;
}

.grid-item-boton2, .grid-item-boton3, .grid-item-boton4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

.grid-item-boton2 a, .grid-item-boton3 a, .grid-item-boton4 a{
    background-color: #B3A1A1;
    padding: 10px;
    margin: 10px;
}

/* Responsive - relatos */
@media only screen and (min-width: 400px) and (max-width: 800px){
    .grid-container-relatos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}



/* BIO */

/* Header */
.biopage{
    text-decoration-line: overline;
}

.bio{
    display: flex;
    justify-content: space-evenly;
}


.bio img{
    height: 418px;
    padding: 20px; 
    display: flex;
    justify-content: center;
}

.bio p{
    padding: 150px 20px 0px 20px; 
    font-size: 16px;
    font-family: 'Bitter', serif;
}

/* Bio + Contacto */

.bio h1, .hablemos, .seguime h2{
    margin: 10px;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 36px;
}

/* Responsive - bio */
@media only screen and (min-width: 400px) and (max-width: 800px) {
    .bio{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bio img{
        height: 418px;
        width: 280px;
    }

}


/* Contacto */

/* Header */
.contacto{
    text-decoration-line: overline;
}

.seguime{
    height: 60vh;
    display: grid;
    grid-template-columns: 2vw 20vw;
    grid-template-rows: repeat(4, 10vh);
    gap: 8px;
    grid-template-areas:
    'tit tit'
    'ig textig'
    'fb textfb'
    'in textin';
    padding-left: 33vw;
}

.tit-seguime{
    grid-area: tit;
}
.redes-ig{
    grid-area: ig;
    width: 30px;
}
.redes-fb{
    grid-area: fb;
    width: 18px;
    
}
.redes-in{
    grid-area: in;
    width: 30px;
}
.texto-ig{
    grid-area: textig;
    padding-top: 4px;
}
.texto-fb{
    grid-area: textfb;
    padding-top: 10px;
}
.texto-in{
    grid-area: textin;
    padding-top: 10px;
}

.hablemos-p{
    font-family: 'Bitter', serif;
    font-size: 14px;
}

.seguime a{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

/* Responsive - contacto */
@media only screen and (min-width: 400px) and (max-width: 800px){
    .seguime{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


/* Animaciones */

/*Navbar*/

.animaciones:hover {
    animation: changeColor 7s;
   }

   /* @ + Nombre de la animación */
@keyframes changeColor {
    0% {
        color: #418a5381;
    }
    25% {
        color: #54bcdf83;
    }
    50%{
        color: #e87a6983;
    }
    75%{

    }
    100%{
        color: #B3A1A1;

    }
}


   















































































































